* {
margin:0;
padding:0;
box-sizing:border-box;
}
.image{
	width:80px;
	height:80px;
}
.header{
	position:relative;
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:white
}
.nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.menu{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.menu li{
	list-style-type:none;
}
.menu li a{
	color:black;
	font-size:20px;
	font-weight:bold;
	font-family: arial;
	text-decoration:none;
	padding:20px
}
.toggler, .burger{
	display:none;
}
.menu li a:hover{
	color:gold;
}
body {
	background:black;
	}
@media screen and (max-width:700px){
	.burger{
		display:block;
		font-size:40px;
		z-index:5;
		padding:20px;
		color:black;
	}
	.menu{
		justify-content:start;
		flex-direction:column;
		align-items:center;
		position:fixed;
		top:0;
		right:-300px;
		padding-top:80px;
		background:white;
		width:170px;
		height:100%;
		transition:0.2s;
	}
	.menu li{
		padding:20px;
	}
	.toggler:checked ~ .menu{
		right:0px;
	}
}